// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// NAV BAR
.navbar {
  background-color: lightgrey;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  color: red;
}

.nav-item {
  padding: 0 25px;
}

// PAGE TITLES
h1 {
  font-size: 24px;
  text-align: center;
}

// DRIVERS
img {
  max-width: 190px;
  height: 190px;
}

.box {
  padding: 5px;
  margin: 5px;
  display: flex;
}

#driver-card {
  max-width: 200px;
  justify-content: center;
}

#driver-card li{
  list-style-type: none;
}

#driver-card-row {
  justify-content: center;
  margin-bottom: 10px;
}

li{
  color: black;
  font-size: 13px;
  text-align: center;
}

// OPTIONS BUTTONS
.options-buttons {
  display: flex;
  // background-color: cornflowerblue;
}

.btn {
  margin: 0 10px;
  font-size: 12px;
}